Repository Byndyusoft/nest-kafka: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, prettier

.lintstagedrc.yaml:

"*.{ts,js}": eslint
"*.md": markdownlint
"*.{ts,js,json,yaml,yml,md}": prettier

Notes added by 'git notes add'
  36ff793e3f0d9de87b8265ba54ee061f79e0431c
Due: none

feat(consumer): extend initial config
  README.md
  src/config/kafkaConsumerConfigDto.ts
Due: eslint, markdownlint, prettier

Notes added by 'git notes add'
  33f4f7d134c1bf0657883729dc6041b39b8e0b18
Due: none

fix: sync with template
  .gitattributes
  .github/dependabot.yaml
  .gitignore
  .yarnrc.yml
  README.md
  package.json
  renovate.json
  src/consumer/decorators/kafkaConsumerEventPatternDecorator.ts
  src/consumer/interfaces/kafkaConsumerContextInterface.ts
  src/consumer/kafkaConsumer.ts
  src/consumer/kafkaConsumerMessageHandler.ts
  src/producer/decorators/injectKafkaProducerDecorator.ts
  src/producer/decorators/kafkaProducerDecoratedProviders.ts
  src/producer/kafkaCoreProducer.ts
  src/producer/kafkaProducer.ts
  src/schemaRegistry/decorators/injectKafkaSchemaRegistryDecorator.ts
  src/schemaRegistry/decorators/kafkaSchemaRegistryDecoratedProviders.ts
  src/schemaRegistry/kafkaCoreSchemaRegistry.ts
  src/schemaRegistry/kafkaSchemaRegistry.ts
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: eslint, markdownlint, prettier

fix(deps): update dependencies
  package.json
  yarn.lock
Due: prettier

feat: use nestjs-pino fork
  README.md
  package.json
  src/consumer/kafkaConsumerMessageHandler.ts
  src/consumer/kafkaConsumerMessageHandlerLogger.ts
  yarn.lock
Due: eslint, markdownlint, prettier

Notes added by 'git notes add'
  fc0f98291547f9955fe86c8ff8018b5664123962
Due: none

Notes added by 'git notes add'
  035ed3f39199d422b020f75dbeaf2d20f5e052e1
Due: none

feat: add retriable code
  src/consumer/retryStrategies/networkRetryStrategy.ts
Due: eslint, prettier

Notes added by 'git notes add'
  5098e2859ce1f71dae97f0f63204f7bc100cac15
Due: none

docs(readme): optional modules initialization
  README.md
Due: markdownlint, prettier

feat(cluster): extend initial config
  README.md
  src/config/kafkaClusterConfigDto.ts
Due: eslint, markdownlint, prettier

Notes added by 'git notes add'
  33cec5967c285d0ccb776316674e7de6567eec5d
Due: none

feat(cluster): extend initial config (#131)
  README.md
  src/config/kafkaClusterConfigDto.ts
Due: eslint, markdownlint, prettier

Notes added by 'git notes add'
  ef93ee27ab6baa0501fc324585c673d96670d85c
Due: none

feat: rename topicPicker to errorTopicPicker
  README.md
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/interfaces/kafkaConsumerErrorTopicExceptionFilterOptionsInterface.ts
Due: eslint, markdownlint, prettier

feat: add retry topics support
  README.md
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/interfaces/kafkaConsumerErrorTopicExceptionFilterOptionsInterface.ts
Due: eslint, markdownlint, prettier

Notes added by 'git notes add'
  5fa44c313a76b46ac9546a18526cbbdf6f897dc2
Due: none

feat: add retry consumer
  README.md
  src/consts/index.ts
  src/consts/kafkaRetryConsumerTransportId.ts
  src/consumer/decorators/index.ts
  src/consumer/decorators/kafkaRetryConsumerEventPatternDecorator.ts
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/interceptors/kafkaConsumerPayloadDecoder.ts
  src/consumer/interfaces/kafkaConsumerErrorTopicExceptionFilterOptionsInterface.ts
  src/consumer/interfaces/kafkaConsumerPayloadDecoderOptionsInterface.ts
  src/consumer/kafkaRetryConsumer.ts
  src/kafkaModule.ts
  src/options/kafkaConnectionInterface.ts
Due: eslint, markdownlint, prettier

Notes added by 'git notes add'
  2af14870c2f39211500fca8c8ed42b7c9c4381c4
Due: none

fix: fix get topic for resend message
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
Due: eslint, prettier

Notes added by 'git notes add'
  735cae105444ebfdfb1b28c4e9e41e5af84212e3
Due: none

Notes added by 'git notes add'
  6971db3bd3a20d5daab5425abf766c837b4c2c84
Due: none

feat: add originalTraceId header in error topic exception filter
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/interfaces/kafkaConsumerContextInterface.ts
  src/consumer/kafkaConsumerMessageHandler.ts
Due: eslint, prettier

feat: add resendHeadersPrefix in error topic exception filter
  README.md
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/interfaces/kafkaConsumerErrorTopicExceptionFilterOptionsInterface.ts
Due: eslint, markdownlint, prettier

Notes added by 'git notes add'
  8fb684af81adfb6e24ad3413472b4c373d33fdba
Due: none

Notes added by 'git notes add'
  cd7bdeaf0a663b4c4eee8da3e7509608fb231c67
Due: none

fix: use `onApplicationShutdown` to disconnect kafka producers
  src/producer/kafkaCoreProducer.ts
Due: eslint, prettier

fix: use `onApplicationBootstrap` to start processing messages
  src/consumer/kafkaConsumer.ts
Due: eslint, prettier

Revert "fix: use `onApplicationBootstrap` to start processing messages"
  src/consumer/kafkaConsumer.ts
Due: eslint, prettier

fix: throw an error when started listening before app is boostrapped
  src/consumer/kafkaConsumer.ts
Due: eslint, prettier

docs: notice about the right order of `startAllMicroservices` and `listen`
  README.md
Due: markdownlint, prettier
