Repository Byndyusoft/nest-kafka: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, prettier

.lintstagedrc.yaml:

"*.{ts,js}": eslint
"*.md": markdownlint
"*.{ts,js,json,yaml,yml,md}": prettier

Notes added by 'git notes add'
  30b975287790cba0981321bde61c22e62dfdc785
Due: none

fix: fix NetworkRetryStrategy
  src/consumer/retryStrategies/networkRetryStrategy.ts
Due: eslint, prettier

fix: rename IKafkaSchemaRegistryConnectionDto
  src/options/index.ts
  src/options/kafkaConnectionInterface.ts
  src/options/kafkaSchemaRegistryConnectionInterface.ts
Due: eslint, prettier

refactor: rename private types
  src/config/kafkaClusterConfigDto.ts
Due: eslint, prettier

fix: rename KafkaProducerCore to KafkaCoreProducer
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/interfaces/kafkaConsumerContextInterface.ts
  src/consumer/kafkaConsumerMessageHandler.ts
  src/kafkaModule.ts
  src/producer/index.ts
  src/producer/kafkaCoreProducer.ts
  src/producer/kafkaProducer.ts
Due: eslint, prettier

fix: rename KafkaSchemaRegistryCore to KafkaCoreSchemaRegistry
  src/consumer/interceptors/kafkaConsumerPayloadDecoder.ts
  src/consumer/interfaces/kafkaConsumerContextInterface.ts
  src/consumer/kafkaConsumerMessageHandler.ts
  src/kafkaModule.ts
  src/schemaRegistry/index.ts
  src/schemaRegistry/kafkaCoreSchemaRegistry.ts
  src/schemaRegistry/kafkaSchemaRegistry.ts
Due: eslint, prettier

docs: better describe decoders feature
  README.md
Due: markdownlint, prettier

Notes added by 'git notes add'
  7fd13ff68d3486f87fe0ce18a27aa3f8e33d2a7b
Due: none

feat: don't keep original timestamp in error topic
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
Due: eslint, prettier

Notes added by 'git notes add'
  6fcd0fc1454209c5758f666a1d5a5fbd9eb39837
Due: none

chore: update only major dependencies
  .github/dependabot.yaml
Due: prettier

fix(deps): bump dependencies
  package.json
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/kafkaConsumerMessageHandler.ts
  yarn.lock
Due: eslint, prettier

feat: send message to error topic with extra headers
  src/consumer/errors/getCauseError.ts
  src/consumer/errors/serializeError.ts
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/kafkaConsumerMessageHandler.ts
  src/consumer/kafkaConsumerMessageHandlerLogger.ts
Due: eslint, prettier

Notes added by 'git notes add'
  6219cd2580fc568131e308d433342c6a92cf66fb
Due: none

fix: rename getCauseError to getErrorCause
  src/consumer/errors/getErrorCause.ts
  src/consumer/errors/index.ts
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/kafkaConsumerMessageHandler.ts
  src/consumer/kafkaConsumerMessageHandlerLogger.ts
Due: eslint, prettier

Notes added by 'git notes add'
  25f7e89ac6115cbd359c5748d50ea1cd06f5dd1d
Due: none

chore: release from next branch
  .releaserc.yaml
Due: prettier

fix: add nestjs v9 support
  package.json
  src/config/kafkaClusterConfigDto.ts
  src/consumer/exceptions/kafkaConsumerErrorTopicExceptionFilter.ts
  src/consumer/interceptors/kafkaConsumerPayloadDecoder.ts
  src/consumer/kafkaConsumer.ts
  src/consumer/kafkaConsumerMessageHandler.ts
  src/consumer/kafkaConsumerMessageHandlerLogger.ts
  src/consumer/retryStrategies/axiosRetryStrategy.ts
  src/consumer/retryStrategies/defaultRetryStrategy.ts
  src/consumer/retryStrategies/networkRetryStrategy.ts
  src/decoratedProviders/decoratedProviders.ts
  src/kafkaModule.ts
  src/producer/kafkaCoreProducer.ts
  src/producer/kafkaProducer.ts
  src/schemaRegistry/kafkaCoreSchemaRegistry.ts
  src/schemaRegistry/kafkaSchemaRegistry.ts
  yarn.lock
Due: eslint, prettier

Notes added by 'git notes add'
  6ac3f5c22fb490c320953c179e4f24a1a3a639aa
Due: none

rename mask for test files
  package.json
  tsconfig.build.json
Due: prettier

Notes added by 'git notes add'
  c5382da044bc521bc6cff733bac002f4112bdcdf
Due: none

feat(consumer): extend initial config
  README.md
  src/config/kafkaConsumerConfigDto.ts
Due: eslint, markdownlint, prettier

docs: readme
  README.md
Due: markdownlint, prettier

Notes added by 'git notes add'
  4e7fddd08c9cf7d32a923a97c25440630a24377b
Due: none

fix(consumer): config typecasting
  src/config/kafkaConsumerConfigDto.ts
Due: eslint, prettier
