Repository Byndyusoft/nest-kafka: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint, prettier

docs: fix README
  README.md
Due: markdownlint, prettier

fix: use onApplicationShutdown to disconnect kafka producers
  README.md
  src/consumer/kafkaConsumer.ts
  src/producer/kafkaCoreProducer.ts
Due: eslint, markdownlint, prettier

Notes added by 'git notes add'
  bb1491d1e2d231b8445d3287d5cc25f3f5ff5cf4
Due: none

feat: added create span trace for send and sendBatch
  src/producer/kafkaCoreProducer.ts
Due: eslint, prettier

feat: added a tag setting for the keys listed in traceMessageKeys option
  src/options/kafkaOptionsInterface.ts
  src/schemaRegistry/kafkaSchemaRegistry.ts
Due: eslint, prettier

docs: added description for traceMessageKeys option
  README.md
Due: markdownlint, prettier

fix: potential error when traceMessageKeys is undefined
  src/schemaRegistry/kafkaSchemaRegistry.ts
Due: eslint, prettier

feat: added logging encode and decode message from schema registry
  src/schemaRegistry/kafkaSchemaRegistry.ts
Due: eslint, prettier

feat!: move axios to peerDeps
  package.json
  yarn.lock
Due: prettier

feat!: move axios to peerDeps (#137)
  package.json
  yarn.lock
Due: prettier

feat: move axios to peerDeps
  package.json
  yarn.lock
Due: prettier

Notes added by 'git notes add'
  4ccb391b6bf7d9293f4c5d6cb742509f94716d6f
Due: none

Path conditions:
  eslint: any of: *.{ts,js}
  markdownlint: any of: *.md
  prettier: any of: *.{ts,js,json,yaml,yml,md}
